// Header styling

body {
  padding-top: 50px;

  &.kss__body--page {
    padding-top: 0;
  }
}

.kss__header {
  align-items: center;
  background-color: $kss-header-bg;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: $zi-kss-header;
}

.kss__header-title {
  color: $kss-header-text;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1;
  order: 2;
  margin: 0;
  padding: 0 1rem;
}
