// Styling for style guide listings

.kss-item__overview-wrapper {
  border-bottom: 1px solid $color-kss-light;
  margin: 20px auto;
  max-width: $kss-content-w;
  padding: 20px;
  position: relative;

  *:last-child {
    margin-bottom: 0;
  }
}

.kss-item__overview-wrapper--home {
  border: 0;

  &::after {
    border: none;
  }
}

.kss-item__title {
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 10px;
  line-height: 1.25;

  .kss-item__overview-wrapper--home & {
    border-bottom: 1px solid $color-kss-light;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

.kss-parameters__title {
  font-size: 28px;
  font-weight: normal;
  margin: 20px 0;
  line-height: 1.25;
}

.kss-parameters {
  list-style: none;
  margin: 0;
  padding: 0;
}

.kss-parameters__item {
  margin: 0 0 10px;
  padding-left: 10px;
}

.kss-parameters__description,
.kss-parameters__name {
  display: inline-block;
  font-size: 16px;
  line-height: 1.25;
}

.kss-parameters__name {
  background-color: $color-kss-blue;
  border-radius: 4px;
  color: $color-kss-white;
  font-family: monospace;
  margin-bottom: 10px;
  padding: 4px 6px;
}

.kss-item__description {

  *:last-child {
    margin-bottom: 0;
  }
}

.kss-item__example-wrapper,
.kss-item__details-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $kss-content-w;
  padding: 0 20px;
}

.kss-item__example-wrapper {

  .kss-full-width & {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .kss-full-width.kss-bg-mid &,
  .kss-full-width.kss-bg-dark & {
    margin: 20px 0;
  }
}

.kss-item__example {
  padding: 20px 10px;

  .kss-full-width & {
    padding-left: 0;
    padding-right: 0;
  }

  .kss-bg-mid & {
    background-color: $color-kss-mid;
  }

  .kss-bg-dark & {
    background-color: $color-kss-black;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.kss-item__modifier-details {
  border: 4px solid $color-kss-light;
  margin: 20px auto 25px;
  max-width: $kss-content-w;
  padding: 20px;
  position: relative;

  &::after {
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $color-kss-light;
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    left: calc(50% - 5px);
    position: absolute;
    top: 100%;
  }
}

.kss-item__modifier-name,
.kss-item__modifier-description {
  font-size: 16px;
  line-height: 1.25;
}

.kss-item__modifier-name {
  background-color: $color-kss-blue;
  border-radius: 4px;
  color: $color-kss-white;
  display: inline-block;
  font-family: monospace;
  margin-bottom: 10px;
  padding: 4px 6px;
}

.kss-item__details {

  @include media-mw($bp-kss-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.kss-item__example-grid-list {
  margin: 0;
  padding: 0;

  @include media-mw($bp-kss-sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.kss-item__example-grid-list-item {
  margin: 0;
  padding: 1rem;

  @include media-mw($bp-kss-sm) {
    width: 25%;
  }

  .icon {
    display: block;
    height: 150px;
    margin: 0 auto 1rem;
    width: auto;
  }
}

.kss-item__details-title {
  border: 1px solid $color-kss-light;
  border-bottom: 0;
  color: $color-kss-dark;
  font-weight: normal;
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem 2rem;
  position: relative;
  order: 0;
  text-transform: uppercase;

  @include media-mw($bp-kss-sm) {
    border-left: 0;
    color: $color-kss-mid;
    cursor: pointer;
  }

  &:first-child {

    @include media-mw($bp-kss-sm) {
      border-left: 1px solid $color-kss-light;
    }
  }

  &::after {
    background-color: $color-kss-dark;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;

    @include media-mw($bp-kss-sm) {
      background-color: $color-kss-light;
    }
  }

  &.js-active {

    @include media-mw($bp-kss-sm) {
      color: $color-kss-dark;

      &::after {
        background-color: $color-kss-dark;
      }
    }
  }

  &:focus,
  &:hover {
    color: $color-kss-black;
  }
}

.kss-item__details-content {
  border: 1px solid $color-kss-mid;
  box-sizing: border-box;
  margin-bottom: 2rem;
  padding: 1rem;

  @include media-mw($bp-kss-sm) {
    border: 0;
    height: 0;
    margin-bottom: 0;
    order: 1;
    overflow: hidden;
    padding: 0;
    width: 100%;

    .js-active + & {
      border: 1px solid $color-kss-mid;
      height: auto;
      padding: 1rem;
    }
  }
}

.kss-item__details-list {
  border: 1px solid $color-kss-light;
  margin: 0;
  padding: 0;
}

.kss-item__details-list-item {
  margin: 0;
  padding: 1rem;

  &:nth-child(odd) {
    background-color: $color-kss-x-light;
  }
}

.kss-item__details-markup {
  font-size: 1.5rem;
  overflow: auto;
}
