// Header styling

.kss__header {
  align-items: center;
  background-color: $kss-header-bg;
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $zi-kss-header;
}

.kss__header-title-wrapper {
  align-items: center;
  display: flex;
  order: 2;
}

.kss__header-title {
  color: $kss-header-text;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  order: 2;
  margin: 0;
  padding: 0 10px;
}

.kss__header-logo-wrapper {
  box-sizing: border-box;
  max-height: 50px;
  padding: 5px 20px 5px 0;
}
